@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

/* Farben: #0b0c17 / #ff3571 / #dddddd / #3C30FF / #FFF / #000 */

/* default begin */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 3rem;
}

p {
    font-weight: 100;
}

h4 {
    line-height: 3vh;
}

h4 span {
    display: block;
    font-weight: 100;
    margin-top: .5vh;
}

/* defaul end */



/* header beginn */

header {
    position: relative;
    top: 5vh;
padding: 0 5vw;
}

header p {
    position: absolute;
    font-size: 1.5rem;
    width: 10%;
    margin-left: 3.5%;
    font-weight: 600;
    line-height: 75%;
    top: .25vh
}

header p span {
    font-size: .8rem;
    font-weight: 400;
}

header img {
    width: 2.5%;
    position: fixed;
}

/* header end */



/* hero beginn */

#heroContent {
    background: url("../img/ilustracion1.png") right top no-repeat ;
    background-size: 55%;
    height: 100vh;
    display: flex;
}

#heroContent h1 {
    font-size: 4.8rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
    margin-left: 7.5vw;
}

#heroContent h1 span {
    font-size: 1.5rem;
    font-weight: 100;
}

#heroContent h1 span:nth-of-type(1):after {
    content: "";
    background: url(../img/rocket.png) no-repeat;
    background-size: 100%;
    display: inline-block;
    width: 2vw;
    height: 3vh;
}

#heroContent h1 span + span {
    font-size: .8rem;
    color: #ff3571;
    position: absolute;
    bottom: 15%;
    font-weight: 600;
}

#heroImg {
    background: center/cover url(../img/ilustracion_people.png);
    margin: 0 10% 0 0;
}

#heroImg {
    width: 70%;
    height: 70%;
    animation:slide-top 1s cubic-bezier(.25,.46,.45,.94) 1s infinite alternate both
}

@keyframes slide-top{0%{transform:translateY(0)}100%{transform:translateY(-100px)}}
  
/* hero end */



/* images beginn */

#images {
    background: center/contain url(../img/images.jpg) no-repeat;
    height: 70vh;
}

/* images end */



/* ideas beginn */

#ideas {
    display: flex;
    flex-flow: wrap;
    padding: 10vh 12vw 0;
    justify-content: space-between;
}

#ideas h2:nth-of-type(1) {
    width: 20vw;
}

.ideasStyle::after {
    content: "";
    background: url(../img/idea.png) no-repeat;
    background-size: 100%;
    display: inline-block;
    width: 4vw;
    height: 7vh;
}

#ideas > p {
    width: 50vw;
    line-height: 3vh;
    padding: 3% 8% 0% 9%;
}

#ideas h2:nth-of-type(2) {
    width: 45vw;
    margin: 10% 10% 10% 0;
}

section:nth-of-type(1)::before {
    background: url(../img/title02.svg) no-repeat;
}

section:nth-of-type(2)::before {
    background: url(../img/title04.svg) no-repeat;
}

section:nth-of-type(3)::before {
    background: url(../img/title01.svg) no-repeat;
}

section:nth-of-type(4)::before {
    background: url(../img/title03.svg) no-repeat;
}

section {
    display: flex;
    padding: 0 0 10vh;
}

section::before {
    content: "";
    width: 3vw;
    height: 3vh;
}

section h4 span {
    width: 25vw;
}

/* ideas end */



/* ready and like it beginn  */

#ready, #likeIt {
    margin-top: 10vh;
    text-align: center;
}

#ready p, #likeIt p {
    font-size: 1.2rem;
    margin: 5vh auto;
    width: 45vw;
}

/* ready end and like it at the bottom */



/* steps beginn */

.steps {
    display: flex;
    margin: 15vh;
}

.numStyle::after {
    content: "";
    width: 3vw;
    height: 5vh;
    display: flex;
    margin: 10vh 0 3vh;
    justify-content: space-around;
}

.num1::after {
    background: url(../img/step01.svg) center/cover no-repeat;
}

.num2::after {
    background: url(../img/step02.svg) center/cover no-repeat;
}

.num3::after {
    background: url(../img/step03.svg) center/cover no-repeat;
}

.num4::after {
    background: url(../img/step04.svg) center/cover no-repeat;
}

.numStyle {
    color: #dddddd;
    font-size: 3rem;
    font-weight: 900;
}

.steps h4 {
    margin: 5vh;
}

.steps img {
    width: 100%;
}

.steps span:nth-of-type(2) {
    width: 100%;
}

/* steps end */



/* like it again  */

#likeIt {
    height: 50vh;
}

input {
    box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.17);
    padding: 2vh 12vw;
    border: none;
    font-size: 1rem;
    margin-bottom: 4vh;
    text-align: center;
}

#likeIt a {
    background: #ff3571;
    color: #fff;
    padding: 1.5vh 3.4vw;
    border-radius: 3px;
    margin-top: 5vh;
    text-decoration: none;
}

#likeIt a:hover {
        background-image: linear-gradient(to right, #ff3571, #3c30ff);
}

/*  like it end */

/* footer beginn */

footer {
    padding: 2vh 20vh;
}

footer span {
    display: inline-block;
    margin-left: .5vw;
    color: #ff3571;
    animation:scale-up-center 1s cubic-bezier(.39,.575,.565,1.000) 1s infinite alternate both;
}

@keyframes scale-up-center{0%{transform:scale(.5)}100%{transform:scale(1)}}

/* footer end */